/* Contenedor principal */
.Technical {
    margin-bottom: 3rem;
    padding: 2rem;
    background: #2b2b2b; /* Fondo oscuro para mayor contraste */
    border-radius: 10px;
}

/* Sección de habilidades técnicas */
.technical-skills {
    background: #3b3b3b; /* Un tono más claro para separar visualmente */
    padding: 2rem;
    border-radius: 10px;
    text-align: start;
    margin: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Títulos */
.technical-skills h2, .title-Skills h3 {
    font-size: 1.8rem;
    color: #e7e0c6; /* Amarillo vibrante para destacar */
    margin-bottom: 1rem;
}

/* Descripción general */
.skills-description,
.skills-focus {
    font-size: 1rem;
    color: #ddd;
    margin-bottom: 1.5rem;
}

/* Lista de habilidades */
.skills-list {
    list-style-type: none;
    padding-left: 1rem;
}

.skills-list li {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: #ccc;
}

.skills-list strong {
    color: #e7e0c6; /* Amarillo para resaltar las tecnologías */
}

/* Contenedor de habilidades técnicas */
.conteiner-technical-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

/* Tarjetas individuales */
.img-technical-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #444; /* Un tono más oscuro */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    width: 120px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto hover */
.img-technical-skills:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #585750;
}

/* Imágenes de tecnologías */
.img-technical-skills img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.8rem;
}

/* Barra de progreso */
.progress {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #666;
    overflow: hidden;
}

/* Color de la barra de progreso en Chrome */
.progress::-webkit-progress-value {
    background: #e7e0c6;
}

/* Color de la barra de progreso en Firefox */
.progress::-moz-progress-bar {
    background: #e7e0c6;
}
