.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(6, 2, 11); 
    padding: 10px 0; 
    text-align: center; 
    z-index: 1000; 
 }
   
  .social-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease; 
  }
  
  .social-icon:hover {
    transform: scale(1.2); /* Escala los íconos al pasar el mouse */
  }