h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
    font-size: 2.5rem;
    line-height: 1.1;
    color: rgb(242, 233, 221);
  }

p{
    font-size: 1.5rem;
    line-height: 1.1;
    color: rgba(168, 165, 162, 0.818);
}

/* Estilizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

/* Color del fondo de la barra */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Color del "pulgar" que se mueve */
::-webkit-scrollbar-thumb {
  background: #4f4f4d;
}

/* Cambiar color al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #6a6a66;
}
